{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static "ui/styles/treatment.css" %}" type="text/css">
    <title>Juniper Utilization Viewer</title>
  </head>
  <body style="padding-top:0">
    {% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            {% if found %}
            <h1 class="text-center">{{treatment.name|title}}</h1>
            <div id="toolbar">
                <a href="/">
                    <button type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-circle-arrow-left"></i> BACK TO MAP
                    </button>
                </a>
            </div>
            <table  data-toggle="table"
                    data-classes="table table-hover table-condensed"
                    data-striped="true"
                    data-search="true"
                    data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-field="name"
                            data-sortable="true">
                            NAME
                        </th>
                        <th>ATTRIBUTES</th>
                    </tr>
                </thead>
            {% for key, value in treatment.items %}
                {% if key != 'name' and key != 'id' %}
                    <tr>
                        <td>{{key}}</td>                        
                        <td>{{value|safe}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            {% else %}
            <h1>Treatment with given id {{treatment.id}} does not exist</h1>
            {% endif %}
        </div>
      </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script src="http://openlayers.org/en/v3.4.0/resources/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
    {% endblock %}

  </body>
</html>