{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
     &rsaquo; Import Treatments
    </div>
{% endblock %}

{% block title %}Import Treatments{% endblock %}

{% block content %}
<div id="content-main">
  <h1>Import Treatment Batch</h1>
  <form enctype="multipart/form-data" id="treatment_form" method="post" action="/admin/import/">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}

    <input type="submit" name="submit" value="Import Treatments" />
  </form>
</div>
{% endblock %}